*{
    margin: 0;
    padding: 0;
}

body {
    margin: 200px;
    padding: 20px;
    text-align: center;
    background-color: lavender;

}

main {
    padding: 10px;
}

button {
    width: 100px;
    height: 50px;
    padding: ;
}